@model IEnumerable<DCompany.Models.Staff>
@using DCompany.Models;
@{
    DecalCompanyEntities1 db = new DecalCompanyEntities1();
    MvcPaging.IPagedList<Staff> oldStaff = (MvcPaging.IPagedList<Staff>)ViewBag.oldStaff;
}

<div class="container">
  <ul class="breadcrumb ">
    <li class="active">
      <h4>Xem danh sách nhân viên</h4>
    </li>
  </ul>
</div>
<div class="container content-panel">
    <div class="row">
        <div class="span12">
            <div>
                @using (Ajax.BeginForm("Index", "Staff",
                            new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                            new { id = "frm-search" }))
                {
                    <div id="grid-list">
                       @{ Html.RenderPartial("ListStaff", oldStaff);}
                    </div>
                  }
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });
    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }
    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');

    }
    function failurePaging() {
        alert("Could not retrieve list.");
    }
    function changeState(stateId, orderId) {
        var confirmId = orderId;
        if (stateId == 4) { stateId = 3; }
        if (stateId != 3 & stateId !=6 && stateId<7) {
            if (stateId == 5) { stateId = stateId + 2; }
            else { stateId = stateId + 1; }
           
            $.ajax({
                url: "/Order/ChangeState",
                type: "GET",
                data: { Id: stateId, OrderId: orderId },
                success: function (data) {
                    location.reload();
                }
            });

        }
        else{
            if(stateId == 3 || stateId==6){  
                document.getElementById(confirmId).setAttribute("style", "display:normal");
            }
        }
      
         
    }
    function changeState2(stateId, orderId) {
        if (stateId == 4) { stateId = 3; }
        if (stateId == 3) {
            stateId = stateId + 2;
        }
        else if (stateId == 6) { stateId = stateId - 1; }
        $.ajax({
            url: "/Order/ChangeState",
            type: "GET",
            data: { Id: stateId, OrderId: orderId },
            success: function (data) {
                location.reload();
            }
        });
    }
        
    function changeState3(stateId, orderId) {
        if (stateId == 4) { stateId = 3; }
        if (stateId == 6) {
            stateId = stateId - 2;
        }
        else if (stateId == 3) { stateId = stateId + 1; }
        $.ajax({
            url: "/Order/ChangeState",
            type: "GET",
            data: { Id: stateId, OrderId: orderId },
            success: function (data) {
                location.reload();
            }
        });
    }
</script>